<h3>Give</h3>

<form class="form-horizontal">
  <div class="form-group">
  	<label class="col-sm-2 control-label">Receiver ID</label>
    <div class="col-sm-4">
      <div>
        <video style="display: {{if view.readValue 'none' 'inline'}}" autoplay></video>
        <canvas id="qr-canvas" style="display: {{if view.readValue 'inline' 'none'}}"></canvas>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">To</label>
    <div class="col-sm-4">
      <p class="form-control-static">{{view.readValue}}</p>
    </div>
  </div>
  <div class="form-group">
    <label for="amount" class="col-sm-2 control-label">Amount</label>
    <div class="col-sm-4">
      <input type="float" class="form-control" id="amount" placeholder="Enter amount">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-4">
      <button type="button" class="btn btn-default" {{action "confirm"}}>Confirm</button>
    </div>
  </div>
</form>