<form class="form-horizontal">
    <div class="form-group">
        <div class="col-sm-12">
            <video class="qrcode-camera__video" autoplay></video>
            <canvas id="qr-canvas" class="qrcode-camera__canvas--hidden"></canvas>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-12">
            <button type="button" class="btn btn-default btn-lg btn-block" {{action "rescan"}}>
                Re-scan
            </button>
        </div>
    </div>
</form>