<div class="form-group">
    <label for="code">Code</label>
    {{input type="password" class="form-control" autocomplete="off" value=code}}
</div>
<button type="button" class="btn btn-default" {{action "enterCode" code}}>Enter</button>